@import '~react-bootstrap-typeahead/css/Typeahead.css';

.location-searchbox {
  position: relative;

  i {
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 8px;
  }
  
  .rbt-input-main {
    padding-left: 32px;
  }
}
